anyio==3.5.0
APScheduler==3.8.1
asgiref==3.4.1
backports.zoneinfo==0.2.1
click==8.0.3
colorama==0.4.4
fastapi==0.72.0
h11==0.13.0
idna==3.3
pydantic==1.9.0
pymodbus==2.5.3
pyserial==3.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
uvicorn==0.17.0
